$body-bg: #f2f2f2;
$primary: #074f74;
$secondary: #FF3697;
$danger: #800c0c;
$success: #27AE60;
$warning: #FF7F50;
$info: #00C9BD;
$dark: #313130;
$muted: rgb(49, 49, 48, .6);
$mutedhiglight: rgba(126, 126, 126, 0.7);
$author: rgba(36, 61, 206, 0.855);